/*Index--------------------------------------*/
.hero {
	background: #3b5d50;
	padding: 0px 5%;
}

.hero h1 {
	font-weight: 700;
	font-size: 2em;
	color: #fff;
	padding: 30px 0px;
	margin: 0px;
}

.divider {
	display: flex;
	align-items: center;
	text-align: center;
	margin: 20px 5%;
	padding-top: 30px;
}

.divider::before,
.divider::after {
	content: '';
	flex: 1;
	border-bottom: 1px solid #ddd;
}

.divider:not(:empty)::before {
	margin-right: .75em;
}

.divider:not(:empty)::after {
	margin-left: .75em;
}

.divider span {
	font-weight: 800;
	color: #000;
	letter-spacing: 1px;
	font-size: 20px;
	opacity: 0.4;
}

.containerTitle {
	padding: 0px;
}

.homeShop {
	min-height: 500px;
	padding: 100px;
}

.homeRow {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}

.productContainer {
	flex: 0 0 auto;
	padding: 10px;
	width: 100%;
}

.productContainer .productItem {
	text-align: center;
	text-decoration: none;
	display: block;
	position: relative;
	padding-bottom: 50px;
	cursor: pointer;
}

.productContainer .productItem .productImg {
	position: relative;
	top: 0;
	width: 90%;
	transition: 0.3s all ease;
}

#emptyImg {
	opacity: 0.6;
}

.productContainer .productItem .productTitle,
.productContainer .productItem .productPrice {
	color: #2f2f2f;
	text-decoration: none;
}

.productContainer .productItem .productPrice {
	font-weight: 800 !important;
	font-size: 18px !important;
}

.productContainer .productItem .crossIcon {
	position: absolute;
	width: 35px;
	height: 35px;
	display: inline-block;
	background: #2f2f2f;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: -17.5px;
	border-radius: 50%;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s all ease;
}

.productContainer .productItem .crossIcon img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.productContainer .productItem:before {
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	content: "";
	background: #dce5e4;
	height: 0%;
	z-index: -1;
	border-radius: 10px;
	transition: 0.3s all ease;

}

.productContainer .productItem:hover .productImg {
	top: -25px;

}

.productContainer .productItem:hover .crossIcon {
	bottom: 0;
	opacity: 1;
	visibility: visible;

}

.productContainer .productItem:hover:before {
	height: 70%;
}

.productContainer #empty:before {
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	content: "";
	background: transparent;
	height: 0%;
	z-index: -1;
	border-radius: 10px;
	transition: none;
}

.productContainer #empty:hover .productImg {
	top: 0;
}

.popup-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 90;
}


.popup {
	font-family: Arial, sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	z-index: 91;
}

.popup-content {
	text-align: center;
	z-index: 92;
}

.popup .close {
	padding: 0px 10px 0px 0px;
	height: fit-content;
	width: fit-content;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
	color: #333;
}

.popup a {
	display: inline-block;
	padding: 8px 15px;
	border-radius: 30px;
	width: 165px;
	text-align: center;
	transition: all .2s;
	margin: 5px 0;
}

.popup .addcart {
	background-color: #f7444e;
	border: 1px solid #f7444e;
	color: #ffffff;
}

.addcart:hover {
	background-color: transparent;
	color: #f7444e;
}

#inputQty {
	width: 80%;
	height: 3em;
	padding: 0px 15px;
	background-color: transparent;
	border: none;
	border-radius: 20px;
}

#inputQty:focus {
	outline: none;
}

.wau {
	width: max-content;
	padding: 0;
	border: 0;
	border-radius: 20px;
	color: rgb(29, 29, 29);
	font-size: 14px;
	background-color: #ececec;
	margin: 20px;
}
/*Header-Footer-----------------------------------------*/
.navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background: #3b5d50 !important;
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar .navContainer {
	width: 100%;
	display: flex;
	flex-wrap: inherit;
	align-items: center;
	justify-content: space-between;
	padding: 0px 5%;
}

.navContainer .logo {
	width: 50px;
	height: 50px;
	vertical-align: middle;
	padding-right: 10px;
	opacity: 0.3;
}

.navContainer .navBrand {
	font-size: 32px;
	font-weight: 600;
	color: #CE8946;
	text-decoration: none;
	vertical-align: middle;
}

.navContainer .navBrand span {
	color: #fff;
	opacity: 0.3;
}

.navContainer .centerPosition {
	vertical-align: middle;
}

.searchContainer {
	margin-left: 16px;
	padding: 0 auto;
	border: 0;
	border-radius: 20px;
	color: rgb(29, 29, 29);
	font-size: 14px;
	background-color: #ececec;
}

#searchIcon {
	margin: 4px;
	padding: 2.5px;
	height: 25px;
	vertical-align: middle;
	cursor: pointer;
	opacity: 0.4;
}

.searchInput {
	display: flex;
	flex-wrap: inherit;
	align-items: center;
	justify-content: flex-start;
}

#input {
	width: 100%;
	height: 30px;
	outline: none;
	border: none;
	background-color: #ececec;
	border-radius: 20px;
}

#input:focus {
	border: none;
	box-shadow: none;
}

.NavbarSub {
	flex-direction: row;
	display: flex;
	padding-left: 0;
	list-style: none;
	justify-content: center;
}

.navLink {
	display: block;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
	color: #0d6efd;
	text-decoration: none;
	transition: color 0.15s;
}

.navIconLink {
	display: block;
	padding-top: 8px;
	padding-bottom: 1px;
	padding-left: 16px;
	padding-right: 16px;
	text-decoration: none;
}

.navIcon {
	height: 26px;
	width: 26px;
}

.navbar .NavbarSub li a {
	font-weight: 500;
	color: #fff !important;
	transition: 0.3s all ease;
	position: relative;
	opacity: 0.5;
}

.kamehameha {
	position: relative;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
}

.navbar .NavbarSub li .navLink:before,
.navbar .NavbarSub li .navIconLink:before,
.navbar .NavbarSub li .navSearch:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 8px;
	right: 8px;
	background: #CE8946;
	height: 5px;
	opacity: 1;
	visibility: visible;
	width: 0;
	transition: 0.15s all ease-out;
}

.navbar .NavbarSub li a:hover {
	opacity: 1;
}

.navbar .NavbarSub .navIconLink:hover {
	opacity: 1;
}

.navbar .NavbarSub li a:hover:before {
	width: calc(100% - 16px);
}

.navbar .NavbarSub li a:hover {
	opacity: 1;
}

.navbar .NavbarSub li.active a:before {
	width: calc(100% - 16px);
}

footer {
	background: #3b5d50;
	height: fit-content;
}

#footer {
	padding: 0px;
}

.navLinkFooter {
	display: block;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
	color: #0d6efd;
	text-decoration: none;
	transition: color 0.15s;
}

footer .navbar .NavbarSub li .navLinkFooter:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 8px;
	right: 8px;
	height: 5px;
	opacity: 1;
	visibility: visible;
	width: 0;
	transition: 0.15s all ease-out;
}

/*SHOP-------------------------------------------*/
.Shop {
	min-height: 500px;
	padding-top: 50px
}

.ShopRow {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}

.row {
	display: flex;
	min-height: 100vh;
}

.column {
	width: 15%;
	background: #538370;
}

.column2 {
	width: 80%;
	padding: 10px;
}

.category {
	width: 100%;
	height: 100%;
	background-color: #538370;
}

.category .categoryItem {
	position: relative;
	cursor: pointer;
}

.category .categoryItem a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 5px 30px;
	font-weight: 500;
	font-size: 15px;
	line-height: 60px;
}

.category .selectionMenu:hover {
	border-left: solid 5px;
	border-color: #CE8946;
	background-color: #629c85;
}

.categoryItem .categoryIcon {
	width: 38px;
	height: 38px;
	margin-right: 15px;
	vertical-align: middle;
}

#shopProduct {
	padding: 20px;
}

.imgBox {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin-bottom: 30px;
}

.productImage {
	max-width: 90%;
	max-height: 90%;
	object-fit: contain;
}

/*CARRELLO------------------------------------------*/

.bg {
	position: relative;
	background-color: transparent;
	margin-left: 10%;
	margin-right: 10%;
	height: 100%;
	min-height: 100vh;
}

.cartContainer {
	width: 100%;
	padding: 0px;
	margin-right: auto;
	margin-left: auto;
}

.itemContainer {
	position: relative;
	padding: 0;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
}

.cartRow {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}

.generiContainer {
	position: relative;
	width: 100%;
	flex: 0 0 50%;
	max-width: 50%;
}

.status {
	text-align: right;
}

.finalPrice {
	font-weight: 900;
}

.CheckOutContainer {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.checkOutBtn {
	float: right;
	font-weight: 500;
	background-color: #CE8946;
	text-align: center;
	vertical-align: middle;
	border: none;
	border-radius: 20px;
	padding: 10px 30px;
	font-size: 19px;
	color: #fff;
	text-decoration: none;
	margin: 0 15px;
}

.checkOutBtn:hover {
	text-decoration: none;
	color: #fff;
	opacity: 0.8;
}

#empty-cart-message {
	text-align: center;
}

#empty-cart-message .cartRow {
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#empty-cart-message .imgContainer {
	margin-bottom: 15px;
}

.cart-item {
	background-color: #fff;
	border-radius: 10px;
	padding: 15px 20px;
	margin-bottom: 20px;
}

.cart-item h5 {
	padding: 0 2%;
	align-content: center;
	margin: 0px;
}

.kaioken {
	padding-right: 30px;
}

#pImg,
#pImg2 {
	vertical-align: middle;
	width: 50px;
	height: 50px;
}

#pImg3 {
	width: 50px;
	height: 50px;
}

.dataContainer {
	position: relative;
	padding: 0 5%;
}

.center-item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

#cartVuoto {
	font-size: 20px;
}
/*Media------------------------------------------*/

@media (min-width : 500px) {
	.imgBox {
		height: 400px;
	}
}

@media (min-width : 525px) {
	.imgBox {
		height: 500px;
	}
}

@media (min-width : 600px) {
	.imgBox {
		height: 600px;
	}
}

@media (max-width : 600px) {
	.column {
		width: 21%;
	}
}


@media (max-width : 720px) {
	.navContainer .centerPosition {
		width: 100%;
		text-align: center;
	}

	.searchContainer {
		margin: 0px;
		margin-top: 10px;
		width: 100%;
	}

	.NavbarSub {
		padding-top: 10px;
	}

	.divider span {
		font-size: 18px;
	}

	#footerPosition {
		padding-top: 22px;
	}

	.hero h1 {
		text-align: center;
		padding: 10px 0px;
		padding-bottom: 30px;
		font-size: 30px;
	}
}

@media (min-width : 721px) {
	.hero {
		padding: 20px 5%;
	}
}

@media (min-width : 768px) {
	.hero h1 {
		font-size: 30px;
	}

	.productContainer {
		width: 33.33333333%;
	}
	
		.imgBox {
		height: 300px;
	}
	
	.searchContainer {
		width: 25%;
	}
	.CheckOutContainer {
		flex: 0 0 100%;
		max-width: 100%;
	}

}

@media (min-width : 992px) {
	.itemContainer {
		flex: 0 0 50%;
		max-width: 83.3%;
	}
}

@media (min-width : 995px) {
	.navbar .NavbarSub li {
		margin-left: 10px;
		margin-right: 10px;
	}


	.hero h1 {
		font-size: 35px;
	}

	.productContainer {
		width: 25%;
	}

	.searchContainer {
		width: 30%;
	}
}

@media (max-width : 1120px) {
	.category .categoryItem span {
		display: none;
	}

	.category .categoryItem a {
		text-align: center;
	}

}

@media (min-width : 1400px) {
	.hero h1 {
		font-size: 40px;
	}
	.searchContainer {
		width: 40%;
	}
	
	.imgBox {
		height: 400px;
	}
	
	.column {
		width: 20%;
	}
}

@media (min-width : 2025px) {
	.imgBox {
		height: 600px;
	}
}